body {
    background-color: beige;
}

#board,
#sidePanel {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

#board {
    margin-right: 40px;
    user-select: none;
}

.row div {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 2px solid transparent;
}

.row .hole {
    background-color: white;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}

.row .hole.peg {
    background-color: #00a2e8;
}

.row .hole.selected {
    background-color: yellow;
}

#instructions {
    width: 325px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 25px;
}

#message {
    color: #ff4c00;
    font-size: 50px;
    margin: 0px;
}
